@model MvcMovie.Models.Client

@{
    ViewBag.Title = "title";
}

<h2>Wysyłanie sms</h2>
    <tr>
        <td>
            @Html.DisplayFor(model => model.TelephoneNumber)
            <br />
        </td>
         <td>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rhoncus ex ac augue malesuada, et malesuada tellus laoreet. Morbi porttitor, nunc eget dapibus rutrum, massa quam iaculis risus, consequat ultrices diam ex id ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse porttitor lobortis sem, sed ultricies sapien venenatis sit amet. Mauris ullamcorper erat vitae lacinia semper. Quisque nulla neque, aliquam in dictum at, euismod eget 
         <br />
         </td>
        <td>
            Wyślij
        </td>
    </tr>
